body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
/* Bottom Margin for All Section */
section{
    margin-bottom:100px;
}
/* CSS for Navbar & Top Section Background image */
.top-section{
    background-image: url(./resources/background/full.png); 
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
/* Navbar Search icon */
.nav-search-icon{
    width:25px;
}
.top-left-part{
    margin: 50px 0px;
}

.nav-item{
    padding-left: 20px;
    font-weight: 700;
}
/* Heading Image Design */
.top-image-center{
    text-align:center;
}
.top-image{
    width:75%;
    border-radius: 35px;
}
/* Gray Highlighted text in Top section */
.text-highlight{
    color: rgb(119, 118, 118)
}
/* All Paragraph Design */
.pera{
    color:rgb(119, 118, 118);
    font-size:20px;
    margin-top:35px;
    margin-bottom:35px;
}

/* See More Button Design */
.see-more-btn{
    text-decoration: none !important;
    background-image:linear-gradient( 45deg,#ffc371, #ff5f6d);
    padding:10px 50px;
    color:white;
    font-weight: 500;
}
.see-more-btn:hover{
    text-decoration: none;
    color:white;
}
/* Experties btn Section */
.experties-btn{
    margin-top: 90px;
}
/* Middle card of experties-Section Design */
.experties-middle-card{
    background-image: linear-gradient(145deg, #ff5f6d, #ffc371) !important;
    color:#ffffff !important;
}

/* All Section Title Design */
.content-title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-top:100px;
}
.col-md-4{
    margin-bottom:30px;
}
/* Experties Card Image Design */
.card-img{
    width: 70px;
    margin:10px;
    border-radius: 50%;
}
/* All Cards internal Design */
.card{
    padding:30px;
    margin:20px;
    margin-bottom:50px;
    box-shadow: 0px 0px 25px lightgray;
    border-radius: 10px;
}
.card-title{
    font-weight: 700;
}
.card-text{
    line-height: 30px;
    font-size: 18px;
}
.card-footer{
    background-color: #ffffff;
    border:none;
}

/* CSS for Video */
.video {
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 10%;
    height:350px;  
}

/* Video Wrapping */
.wrapper{
    display:table;
    position:relative;
    width:80%;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.playpause {
    background-image:url(./resources/logo/play.png);
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
.center-video{
    margin:auto;
    padding:auto;
}
/*CSS for Works-Plan Heading*/
.works-plan-heading{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
}

/* css for Clients Feedback Section */
.feedback-summary{
    background-color:none;
    box-shadow:none !important;
    border:none;
    box-shadow:none;
}

/* Clients Name Design */
.client-card-title{
    background: -webkit-linear-gradient(90deg,  #ffc371, #ff5f6d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 25px;
}

/* Sign in Section Design */
.sign-in-section{
    margin-top: 100px;
    height: 500px;
}

/* Text Input internal Text Design */
.mail-input{
    background: -webkit-linear-gradient(90deg,  #ffc371, #ff5f6d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 3px 5px lightgray;
    margin-right:20px;
    width: 50%;
}
.submit-btn{
    text-decoration: none !important;
    background-image:linear-gradient( 45deg, #ff5f6d, #ffc371);
    padding:10px 35px;
    border-radius: 20px;
    color:white;
    font-weight: 700;
    border:none;
}

/* Bottom/Footer Section */
.bottom-section{
    background-image: linear-gradient( 45deg, #ff5f6d, #ffc371);
    margin-bottom:0px !important;
}
.footer-logo{
    padding-top: 50px !important;
}

.contact-and-others{
    margin:50px 100px;
    color: white;
    margin-bottom: 0 !important;
}

/*Make List Style None */
.contact-and-others ul{
    list-style: none;
    padding: 0px;
}
.contact-and-others ul li{
    list-style: none;
}
.contact-and-others ul li a{
    color:white;
    text-decoration: none;
    line-height: 30px;
}

/* Bottom Social Icon design */
.social-link{
    width: 40px;
    margin-top: 25px;
    margin-right: 30px;
}